.banner {
    text-align: center;
    margin-bottom: 2rem;
}

.form {
    margin-top: 3rem;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    /*margin-right: auto;*/
}